.container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #007c81;
    color: #fff;
    font-size: 32px;
  }
  
  .box-special {
    transform: scale(1.5);
  }
  